{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="row justify-content-center mt-0" style="margin: 0px;">
     <div class="col-11 col-sm-9 col-md-7 col-lg-6 p-0 mt-3 mb-2 staticTextBg abtus">
         <div class="txtMrgn">
          <div class="text-center"><h3>About Us</h3></div><br/>
     <p>आधुनिक युगात वधू-वरांच्या अपेक्षा वाढल्याने वधू-वरांच्या पसंतीस लगेच स्थळ पसंत पडत नाहीत स्थळे बघता-बघता खूप वेळ, पैसा तर जातोच पण 
    मनस्तापही सहन करावा लागतो. हा मनस्ताप आम्ही सहन केला आहे असा मनस्ताप इतरांना होऊ नये म्हणून 'शुभविवाह' ही संस्था स्थापन करण्याचा 
    संकल्प केला. एका सामाजिक बांधिलकीच्या भावनेतून व या संस्थेतून वधू-वरांचे लग्न जमण्यास मदत व्हावी या हेतूने ही संस्था सदैव आपल्या पाठीशी 
    असेल हा विश्वास आम्ही देत आहोत</p>
    <div class="row">
    <div class="col-md-6">
    <p>
' शुभविवाह' वधू - वर सूचक संस्था<br/>
'कस्तुरी' बिल्डिंग करंजे नाका करंजे पेठ सातारा<br/>
सौ,निर्मला चंंद्रकांत पाटील<br/>
मो- ८७६७२८०२३७,८७९६२८९८३९<br/>
* हिंदु मराठा वधू - वरांसाठी<br/>
* आपणाकडे असणाऱ्या संबंधित वधू - वरांचे बायोडाटे पाठवावेत किंवा समक्ष येवून भेटावे.
    </p>
    <p>
     * संस्थेची वैशिष्टे *<br/>
* अनुभवी तज्ज्ञ मार्गदर्शक<br/>
* माफक फी<br/>
* विवाह - योग मार्गदर्शन<br/>
* आधुनिक तंत्रज्ञानानी परिपूर्ण सोय.
    </p>
<p>
स्थळांसाठी नाव नोंदणी सुरू आहे.<br/>
कार्यालयीन वेळ ‌: ११ ते ४ (शनिवार बंद).
     </p>
    </div>
    <div class="col-md-4 abtus">
        <img src="{% static 'images/img_about_us.png' %}" alt="About Us">
    </div>
</div>
         </div>
    </div>
</div>
{% endblock content %}