{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="row justify-content-center mt-0" style="margin: 0px;">
    <div class="col-11 col-sm-9 col-md-7 col-lg-6 p-0 mt-3 mb-2 staticTextBg abtus">
        <div class="txtMrgn">
            <div class="text-center"><h3>Terms & Conditions</h3></div><br/>
            <ul style="margin-left: 25px;">
            <li>ही वधु-वर संस्था आपल्या मदतीसाठी आहे.</li>
            <li>वधू-वरांना अपेक्षीत स्थळे पाहता येण्यासाठी नोंदणी फॉर्म भरून फी भरणे आवश्यक आहे.</li>
            <li>एकदा फी  भरल्यावर ती कोणत्याही कारणास्तव परत मिळणार नाही.</li>
            <li>एक वर्षानंतर नोंदणी फॉर्मचे नूतनीकरण करून फी भरणे गरजेचे आहे.</li>
            <li>नोंदणी फॉर्म वरील रजिस्टर नंबर जपून ठेवा, कार्यालयाशी संपर्क साधताना रजिस्टर नंबर सांगणे आवश्यक आहे.</li>
            <li>सतत फोन करून कामात व्यत्यय आणू नये पंधरा दिवसांनी एकदा फोन करावा.</li>
            <li>योग्य ते स्थळ पाहण्यात आल्यावर संस्था वधु-वर किंवा पालकांना स्वतःहून फोन करून माहिती देण्यास तत्पर असेल.</li>
            <li>वधू-वरांच्या अपेक्षा वास्तवाशी जुळणाऱ्या व योग्य असाव्यात.</li>
            <li>संस्था फक्त स्थळे सुचवणार त्यापुढील सर्व निर्णय तुमचे असतील (वधू-वरांचे)</li>
            <li>लग्न जमल्यास त्यापुढील संपूर्ण जबाबदारी वधू-वर व दोन्ही कुटुंबातील व्यक्तीची असेल नंतर कोणत्याही प्रकारची तक्रार चालणार नाही.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}