<!-- Footer -->
<div class="jumbotron text-center bg-light bgHeaderFooter" >
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-info">
                <h3>Shubha Vivah Sanstha</h3>
                <p>Right destination for choosing perfect Life Partner</p>
              </div>
    
              <div class="col-md-4 footer-links">
                <h4>Useful Links</h4>
                <!-- <ul>
                  <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
                  <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
                  <li><i class="ion-ios-arrow-right"></i> <a href="#">Terms of service</a></li>
                  <li><i class="ion-ios-arrow-right"></i> <a href="#">Privacy policy</a></li>
                </ul> -->
                <span class="iconify" data-icon="ion-ios-arrow-right"></span><a href="{% url 'info:home' %}">Home</a><br/>
                <span class="iconify" data-icon="ion-ios-arrow-right"></span><a href="{% url 'info:about_us' %}">About us</a><br/>
                <span class="iconify" data-icon="ion-ios-arrow-right"></span><a href="{% url 'info:services' %}">Services</a><br/>
                <span class="iconify" data-icon="ion-ios-arrow-right"></span><a href="{% url 'info:privacy_policy' %}">Privacy Policy</a><br/>
              </div>
    
              <div class="col-md-4 footer-contact">
                <h4>Contact Us</h4>
                <p>
                 Kasturi Building, Karanje Naka,<br>Satara - 415002 <br>
                  <strong>Phone:</strong> +91 8767280237/8796289839<br>
                  <strong>Email:</strong> shubhvivahvadhuvar@gmail.com<br>
                </p>
    
                <div class="social-links">
                  <a href="https://twitter.com/shubhavivaha1" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/shubhavivaha.vadhuvarmatrimony" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                  <a href="#" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" target="_blank" class="youtube"><i class="fa fa-youtube"></i></a>
                </div>
    
              </div>
    

        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Developed & maintained by <a href="#" target="_self">Forune Techonologies</a> | © 2021 | Licenced under <a href="{% url 'info:license' %}" target="_blank">MIT License</a></p>
          </div>
        </div>
    </div>
</div>
<!-- Footer End -->