{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="row justify-content-center mt-0" style="margin: 0px;">
    <div class="col-11 col-sm-9 col-md-7 col-lg-6 p-0 mt-3 mb-2 text-justify">
            <div class="text-center"><h3>Privacy Policy</h3></div><br/>
            <p>
                This website is strictly for matrimonial purpose to seek a life partner and not a dating website.
Copyright © 2021. All rights reserved
            </p><p>shubhvivahvadhuvarsanstha.com is an online matrimonial portal to provide you with matrimonial services. we are strongly committed to your right to privacy.
            </p><p>
You consent to the collection and use of the information you disclose on the website in accordance with this Privacy Policy.
</p><p>
If you do not agree for use of your information, please do not use or access this website.
</p><p>
The information we gather from members and visitors who apply for the various services our website offers includes, but may not be limited to, email address, name, date of birth, educational qualifications a user-specified password, mailing address, zip/pin code and telephone/mobile number or fax number.
</p><p>
We may use also your personal information for analysis of data, usage trends and to evaluate and improve our website, marketing research , preventing of frauds. In our efforts to continually improve our product and service offerings, we collect and analyse demographic and profile data about our users' activity on our website.'
</p><p>
We aim to protect your personal information through a system of organizational and technical security measures.However, please also remember that we cannot guarantee that the internet itself is 100% secure.
</p><p>
We may change this Privacy Policy without notice from time to time without any notice to you. However, changes will be updated in the Privacy Policy page.
</p><p>
By using the Site, you agree to be bound by these Terms of Use ("Agreement"). If you wish to become a Member and promote/ advertise your profile to other Members and make use of the shubhvivahvadhuvarsanstha.com service ("Service"), read these Terms of Use and follow the instructions in the registration process.
</p><p>
By using the Service, you consent to submit your personal identifiable information, to collect, process, display and use the said information to provide the Service.
</p><p>
To register as a member of shubhvivahvadhuvarsanstha.com or use this Site, you must be legally competent and of legal marriageable age as per the laws of India (currently, 18 years or over for females and 21 years or over for males).
</p><p>
You are responsible for maintaining the confidentiality of your login credentials you designate during the registration process, and you are solely responsible for all activities that occur under your account.
</p><p>
You agree to immediately notify us of any disclosure or unauthorized use of your account or any other breach of security, and ensure that you log out from your account at the end of each session.
</p><p>
Multiple profiles of the same person are not allowed on our Site. shubhvivahvadhuvarsanstha.com reserves the right to deactivate all multiple profiles without any refund of subscription fees
</p><p>
you confirm that the Content, information including the personal information provided by you is correct and accurate.
</p><p>
You understand and agree that shubhvivahvadhuvarsanstha.com may delete any listing, content, communication, photos or profiles (collectively, "Content") that in the sole judgment of shubhvivahvadhuvarsanstha.com violate this Agreement or which might be offensive, illegal, or that might violate the rights, harm, or threaten the safety of either shubhvivahvadhuvarsanstha.com and/or its Members.
</p><p>
You are solely responsible for your advertisement/communications with other shubhvivahvadhuvarsanstha.com Members. shubhvivahvadhuvarsanstha.com reserves the right, but has no obligation, to monitor disputes between you and other Members. shubhvivahvadhuvarsanstha.com also reserves the right to take appropriate action against errant members. However, shubhvivahvadhuvarsanstha.com is not obliged to share such action with other members, including complainants. 
shubhvivahvadhuvarsanstha.com expressly disclaims any responsibility or liability for any transactions or interactions between the members inter-se.
            </p>
        </div>
    </div>
</div>
{% endblock content %}