<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

<div class="container">
  <h2>Our Users</h2>
   <section class="customer-logos slider">
    <div class="slide"><img src="/media/Slider/Ashlesha.jpeg">
        <div class="text-block">
                <h6>Ashlesha Mohite</h6>
                <p style="font-size:0.8rem">Service</p>
            </div>
    </div>
    <div class="slide"><img src="/media/Slider/Abhijit.jpeg">
        <div class="text-block">
            <h6>Abhijeet Jadhav</h6>
            <p style="font-size:0.8rem">Service</p>
        </div>
    </div>
    <div class="slide"><img src="/media/Slider/Kasturi.jpeg">
        <div class="text-block">
                <h6>Kasturi Patil</h6>
                <p style="font-size:0.8rem">Doctor</p>
        </div> 
    </div>
    <div class="slide"><img src="/media/Slider/Tanmay.jpeg">
        <div class="text-block">
                <h6>Tanmay Gharage</h6>
                <p style="font-size:0.8rem">Service</p>
            </div>
    </div>
    <div class="slide"><img src="/media/Slider/Pallavi.jpeg">
        <div class="text-block">
                <h6>Pallavi Pawar</h6>
                <p style="font-size:0.8rem">Service</p>
            </div>
    </div>
    <!-- <div class="slide"><img src="/media/post/Maya/Prajakta-Mali-5.jpg ">
        <div class="text-block">
                <h6>Maya Chavhan</h6>
                <p style="font-size:0.8rem">Occupation</p>
            </div>
    </div> -->
   </section>
</div>
<br>

<script>
    $(document).ready(function(){
    $('.customer-logos').slick({
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 4
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
});
</script>