{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="row justify-content-center mt-0" style="margin: 0px;">
    <div class="col-11 col-sm-9 col-md-7 col-lg-6 p-0 mt-3 mb-2 staticTextBg abtus">
        <div class="txtMrgn">
            <div class="text-center"><h3>Services</h3></div><br/>
            <ul style="margin-left: 25px;">
                <li>2020 ते 2021 अखेर या वर्षासाठी 1000 रुपये नोंदणी फी आहे. नंतर 1500 रुपये होईल.</li>

                <li>रजिस्टर फी एक वर्षासाठी आहे. एक वर्षानंतर परत नोंदणी चे नूतनीकरण करावे लागेल.</li>
                
                <li>स्वतःचा रजिस्टर नंबर लिहून ठेवावा व स्थळ पसंत पडल्यास स्थळा चा रजिस्टर नंबर संस्थेच्या ऑफिसमध्ये विचारणा करावी (वेळ 11 ते 5).</li>
                
                <li>वेबसाईटवरील स्थळे पसंत पडल्यास स्वतः पूर्ण चौकशी करून खात्री करून घ्यावी.</li>
                
                <li>पंधरा दिवसांनी चौकशी करावी.</li>
                
                <li>वेबसाईट वरून लग्न जमल्यास त्यापुढील संपूर्ण जबाबदारी वधू-वर व संबंधितांची असेल यासाठी संस्था जबाबदार असणार नाही. मागाहून  तक्रार चालणार नाही.</li>
                
                <li>ही वेबसाईट फक्त हिंदू मराठी वधू-वर जातीसाठी आहे.</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}